In [ ]:
from tinydb import TinyDB, Query

In [ ]:
db = TinyDB('financeDb.json')

In [ ]:
db.table("Income")
db.table("FixedCosts")
db.table("Savings")
db.table("Spending")

In [ ]:
db.table("Income").insert({'info' : 'salary', 'amount' : 1234})
db.table("FixedCosts").insert({'info' : 'rent', 'amount' : 123})
db.table("Savings").insert({'info' : 'car', 'amount' : 123})
db.table("Spending").insert({'info' : 'groceries', 'amount' : 123})

In [ ]:
Item = Query()
db.table("Income").remove(Item.info == 'salary')
db.table("FixedCosts").remove(Item.info == 'rent')
db.table("Savings").remove(Item.info == 'car')
db.table("Spending").remove(Item.info == 'groceries')

In [ ]:
df_transactions = pd.read_csv('stmt.csv', skiprows=7)
df_info = pd.read_csv('stmt.csv', nrows=4)

In [ ]:
db = TinyDB('db.json')

In [ ]:
transactions = db.table('transactions')
generalInfo = db.table('generalInfo')

In [ ]:
#db.drop_tables()

In [ ]:
#Query object
query = Query()

In [ ]:
#Insert all transactions
for i in range(len(df_transactions)):

    if (not(transactions.search(query.date == df_transactions.iloc[i,0]))):
        transactions.insert({'date': df_transactions.iloc[i,0], 'name' : df_transactions.iloc[i,1], 'amount' : df_transactions.iloc[i,2]})

In [ ]:
#Insert general info
startDate = (df_info.iloc[0][0])[-10:]
endDate = (df_info.iloc[3][0])[-10:]
startBalance = df_info.iloc[0][2]
endBalance = df_info.iloc[3][2]
totalCredits = df_info.iloc[1][2]
totalDebits = df_info.iloc[2][2]

if (not(generalInfo.search(query.startDate == startDate))):
    generalInfo.insert({'startDate': startDate, 'endDate': endDate, 'startBalance': startBalance,
                       'endBalance': endBalance, 'totalCredits': totalCredits, 'totalDebits': totalDebits})

In [ ]:
import csv

In [ ]:
file_to_open = 'stmt.csv'

In [ ]:
checkingBalance = 0.00
with open(file_to_open, 'r') as this_csv_file:
    this_csv_reader = csv.reader(this_csv_file, delimiter=",")
    
    for i in range(4):
        header = next(this_csv_reader)

    totalDebits = header[2]
    print("Total Debits: $" + totalDebits)
    header = next(this_csv_reader)
    checkingBalance = header[2]
    print("Checking Balance: $" + checkingBalance)

    listOfDebits = []

    i=0
    for row in this_csv_reader:
        if (i>2):
            if (float(row[2]) < 0.00):
                listOfDebits.append([row[0], row[1], float(row[2])])
        i+=1
    print(listOfDebits)